flows (1).json
[
    {
        "id": "5edd6951775080a4",
        "type": "tab",
        "label": "BME280 + LDR + MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "504b3981f3d32443",
        "type": "mongodb-aleph-out",
        "z": "5edd6951775080a4",
        "mongodb": "9c84bc5d37e0c9b4",
        "name": "Entrada MongoDB",
        "collection": "myCollection",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 790,
        "y": 140,
        "wires": [
            [
                "ccb84606a708f1ad"
            ]
        ]
    },
    {
        "id": "e7b3042bc239a9a8",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Filtro de Entrada de Dados",
        "func": "var status = msg.payload;\nvar usuario = \"root\"\nvar dispositivo = msg.topic;\n\nmsg.payload = {}\nmsg.payload.status = status;\nmsg.payload.usuario = usuario;\nmsg.payload.dispositivo = dispositivo;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 140,
        "wires": [
            [
                "504b3981f3d32443"
            ]
        ]
    },
    {
        "id": "cd7f15baeb2d5b99",
        "type": "ui_text",
        "z": "5edd6951775080a4",
        "group": "adaaf9bfa7e64496",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Instant Luminosity Sensor Reading",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1340,
        "y": 280,
        "wires": []
    },
    {
        "id": "4b4bb7ffc01776c9",
        "type": "mqtt in",
        "z": "5edd6951775080a4",
        "name": "",
        "topic": "sensors/luminosity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2edd8ec354b8383c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "e7b3042bc239a9a8"
            ]
        ]
    },
    {
        "id": "70459247534a3992",
        "type": "ui_text",
        "z": "5edd6951775080a4",
        "group": "fd3cf77cfb30f804",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Instant Humidity Sensor Reading",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1340,
        "y": 520,
        "wires": []
    },
    {
        "id": "3dd0ef0dd1033bdf",
        "type": "mqtt in",
        "z": "5edd6951775080a4",
        "name": "",
        "topic": "sensors/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2edd8ec354b8383c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "e7b3042bc239a9a8"
            ]
        ]
    },
    {
        "id": "6be06fd84393f326",
        "type": "mqtt in",
        "z": "5edd6951775080a4",
        "name": "",
        "topic": "sensors/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2edd8ec354b8383c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 200,
        "wires": [
            [
                "e7b3042bc239a9a8"
            ]
        ]
    },
    {
        "id": "ccb84606a708f1ad",
        "type": "ui_text",
        "z": "5edd6951775080a4",
        "group": "9962081de457e482",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Input Instant Test Sensor Reading",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1060,
        "y": 140,
        "wires": []
    },
    {
        "id": "48664fea9e382292",
        "type": "ui_switch",
        "z": "5edd6951775080a4",
        "name": "",
        "label": "LED Switch",
        "tooltip": "",
        "group": "d228348364c78df7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "signals/nodectd",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "b7e10150fa3d57ec",
                "7b228475184b47b9"
            ]
        ]
    },
    {
        "id": "b7e10150fa3d57ec",
        "type": "mqtt out",
        "z": "5edd6951775080a4",
        "name": "",
        "topic": "signals/nodectd",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2edd8ec354b8383c",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "7b228475184b47b9",
        "type": "ui_led",
        "z": "5edd6951775080a4",
        "order": 2,
        "group": "d228348364c78df7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Indicator",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "81f29ab70de8194b",
        "type": "ui_text",
        "z": "5edd6951775080a4",
        "group": "e07276c1bd30c6ff",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Instant Temperature Sensor Reading",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1350,
        "y": 400,
        "wires": []
    },
    {
        "id": "f4c2d7f89813f938",
        "type": "ui_chart",
        "z": "5edd6951775080a4",
        "name": "",
        "group": "e07276c1bd30c6ff",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature Sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "300",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1300,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "863415b601e83364",
        "type": "ui_chart",
        "z": "5edd6951775080a4",
        "name": "",
        "group": "fd3cf77cfb30f804",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity Sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "300",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1280,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ac222068109bb2b1",
        "type": "mongodb-aleph-in",
        "z": "5edd6951775080a4",
        "mongodb": "9c84bc5d37e0c9b4",
        "name": "Saída MongoDB",
        "collection": "myCollection",
        "operation": "find",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "477a2fde5f3d6730",
                "0dd49d79e8abc672",
                "feee42957d8f6882"
            ]
        ]
    },
    {
        "id": "477a2fde5f3d6730",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Saída de Dados Luminosidade",
        "func": "msg.payload = msg.payload.pop();\nvar topic = msg.payload.topic;\nvar msglum = msg.payload;\n\nif (topic == \"sensors/luminosity\") {\n    return msglum;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 260,
        "wires": [
            [
                "05ffc0943403a90a"
            ]
        ]
    },
    {
        "id": "40637980e08c75cd",
        "type": "mqtt in",
        "z": "5edd6951775080a4",
        "name": "",
        "topic": "sensors/luminosity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2edd8ec354b8383c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "ac222068109bb2b1"
            ]
        ]
    },
    {
        "id": "05332657d9fc1ec7",
        "type": "mqtt in",
        "z": "5edd6951775080a4",
        "name": "",
        "topic": "sensors/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2edd8ec354b8383c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 380,
        "wires": [
            [
                "ac222068109bb2b1"
            ]
        ]
    },
    {
        "id": "417188091511eeeb",
        "type": "mqtt in",
        "z": "5edd6951775080a4",
        "name": "",
        "topic": "sensors/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2edd8ec354b8383c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "ac222068109bb2b1"
            ]
        ]
    },
    {
        "id": "05ffc0943403a90a",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Set payload",
        "func": "msg.payload = msg.payload.status\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 260,
        "wires": [
            [
                "cd7f15baeb2d5b99",
                "7242249fc1fae2bd",
                "117a78e64bd644eb"
            ]
        ]
    },
    {
        "id": "0dd49d79e8abc672",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Saída de Dados Temperatura",
        "func": "msg.payload = msg.payload.pop();\nvar topic = msg.payload.topic;\nvar msgtemp = msg.payload;\n\nif (topic == \"sensors/temperature\") {\n    return msgtemp;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 380,
        "wires": [
            [
                "d8988af29d47debf"
            ]
        ]
    },
    {
        "id": "feee42957d8f6882",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Saída de Dados Humidade",
        "func": "msg.payload = msg.payload.pop();\nvar topic = msg.payload.topic;\nvar msghum = msg.payload;\n\nif (topic == \"sensors/humidity\") {\n        return msghum;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 500,
        "wires": [
            [
                "f7ea1eede4147b9d"
            ]
        ]
    },
    {
        "id": "d8988af29d47debf",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Set payload",
        "func": "msg.payload = msg.payload.status\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "f4c2d7f89813f938",
                "81f29ab70de8194b",
                "2d8758b4e0d5526f"
            ]
        ]
    },
    {
        "id": "f7ea1eede4147b9d",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Set payload",
        "func": "msg.payload = msg.payload.status\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 500,
        "wires": [
            [
                "863415b601e83364",
                "70459247534a3992",
                "1d3a41b4bb622a81"
            ]
        ]
    },
    {
        "id": "7242249fc1fae2bd",
        "type": "ui_chart",
        "z": "5edd6951775080a4",
        "name": "",
        "group": "adaaf9bfa7e64496",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Luminosity Sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "300",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "117a78e64bd644eb",
        "type": "debug",
        "z": "5edd6951775080a4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "2d8758b4e0d5526f",
        "type": "debug",
        "z": "5edd6951775080a4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 440,
        "wires": []
    },
    {
        "id": "1d3a41b4bb622a81",
        "type": "debug",
        "z": "5edd6951775080a4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 560,
        "wires": []
    },
    {
        "id": "9c84bc5d37e0c9b4",
        "type": "mongodb-aleph-config",
        "hostname": "localhost",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "myDB",
        "name": ""
    },
    {
        "id": "adaaf9bfa7e64496",
        "type": "ui_group",
        "name": "Data Input Luminosity",
        "tab": "fa95b7a49a366d45",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2edd8ec354b8383c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "serverdatactd.duckdns.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fd3cf77cfb30f804",
        "type": "ui_group",
        "name": "Data Input Humidity",
        "tab": "fa95b7a49a366d45",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9962081de457e482",
        "type": "ui_group",
        "name": "MongoDB msg.payload",
        "tab": "fa95b7a49a366d45",
        "order": 5,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d228348364c78df7",
        "type": "ui_group",
        "name": "LED Selector Switch",
        "tab": "fa95b7a49a366d45",
        "order": 4,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e07276c1bd30c6ff",
        "type": "ui_group",
        "name": "Data Input Temperature",
        "tab": "fa95b7a49a366d45",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa95b7a49a366d45",
        "type": "ui_tab",
        "name": "Dashboard - Server Data CTD IFSP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]