code-folder/flows.json
[
    {
        "id": "5edd6951775080a4",
        "type": "tab",
        "label": "BME280 + LDR + MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e7b3042bc239a9a8",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Filtro de Entrada de Dados",
        "func": "var status = msg.payload;\nvar user = \"root\"\nvar device = msg.topic;\n\nmsg.payload = {}\nmsg.payload.status = status;\nmsg.payload.user = user;\nmsg.payload.device = device;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 100,
        "wires": [
            [
                "85b3ae4b9c869380",
                "504b3981f3d32443",
                "1d1b29519b8c9b92"
            ]
        ]
    },
    {
        "id": "4b4bb7ffc01776c9",
        "type": "mqtt in",
        "z": "5edd6951775080a4",
        "name": "",
        "topic": "sensors/luminosity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2edd8ec354b8383c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "6fd367d67dd548e6"
            ]
        ]
    },
    {
        "id": "3dd0ef0dd1033bdf",
        "type": "mqtt in",
        "z": "5edd6951775080a4",
        "name": "",
        "topic": "sensors/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2edd8ec354b8383c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "6fd367d67dd548e6"
            ]
        ]
    },
    {
        "id": "6be06fd84393f326",
        "type": "mqtt in",
        "z": "5edd6951775080a4",
        "name": "",
        "topic": "sensors/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2edd8ec354b8383c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "6fd367d67dd548e6"
            ]
        ]
    },
    {
        "id": "b7e10150fa3d57ec",
        "type": "mqtt out",
        "z": "5edd6951775080a4",
        "name": "",
        "topic": "signals/nodectd",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2edd8ec354b8383c",
        "x": 700,
        "y": 560,
        "wires": []
    },
    {
        "id": "477a2fde5f3d6730",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Saída de Dados Luminosidade",
        "func": "msg.payload = msg.payload.pop();\nvar topic = msg.payload.topic;\nvar msglum = msg.payload;\n\nif (topic == \"sensors/luminosity\") {\n    return msglum;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 220,
        "wires": [
            [
                "05ffc0943403a90a"
            ]
        ]
    },
    {
        "id": "05ffc0943403a90a",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Set payload",
        "func": "msg.payload = msg.payload.status\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 220,
        "wires": [
            [
                "cd7f15baeb2d5b99",
                "117a78e64bd644eb",
                "7242249fc1fae2bd"
            ]
        ]
    },
    {
        "id": "0dd49d79e8abc672",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Saída de Dados Temperatura",
        "func": "msg.payload = msg.payload.pop();\nvar topic = msg.payload.topic;\nvar msgtemp = msg.payload;\n\nif (topic == \"sensors/temperature\") {\n    return msgtemp;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 340,
        "wires": [
            [
                "d8988af29d47debf"
            ]
        ]
    },
    {
        "id": "feee42957d8f6882",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Saída de Dados Humidade",
        "func": "msg.payload = msg.payload.pop();\nvar topic = msg.payload.topic;\nvar msghum = msg.payload;\n\nif (topic == \"sensors/humidity\") {\n        return msghum;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            [
                "f7ea1eede4147b9d"
            ]
        ]
    },
    {
        "id": "d8988af29d47debf",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Set payload",
        "func": "msg.payload = msg.payload.status\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 340,
        "wires": [
            [
                "2d8758b4e0d5526f",
                "81f29ab70de8194b",
                "f4c2d7f89813f938"
            ]
        ]
    },
    {
        "id": "f7ea1eede4147b9d",
        "type": "function",
        "z": "5edd6951775080a4",
        "name": "Set payload",
        "func": "msg.payload = msg.payload.status\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 460,
        "wires": [
            [
                "1d3a41b4bb622a81",
                "70459247534a3992",
                "863415b601e83364"
            ]
        ]
    },
    {
        "id": "117a78e64bd644eb",
        "type": "debug",
        "z": "5edd6951775080a4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "2d8758b4e0d5526f",
        "type": "debug",
        "z": "5edd6951775080a4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 380,
        "wires": []
    },
    {
        "id": "1d3a41b4bb622a81",
        "type": "debug",
        "z": "5edd6951775080a4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 500,
        "wires": []
    },
    {
        "id": "6fd367d67dd548e6",
        "type": "delay",
        "z": "5edd6951775080a4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "e7b3042bc239a9a8"
            ]
        ]
    },
    {
        "id": "6b8e7d79588cd14b",
        "type": "inject",
        "z": "5edd6951775080a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "b3fe5738ddb9698b"
            ]
        ]
    },
    {
        "id": "48664fea9e382292",
        "type": "ui_switch",
        "z": "5edd6951775080a4",
        "name": "",
        "label": "LED Switch",
        "tooltip": "",
        "group": "d228348364c78df7",
        "order": 1,
        "width": 12,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "signals/nodectd",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 560,
        "wires": [
            [
                "b7e10150fa3d57ec",
                "7b228475184b47b9"
            ]
        ]
    },
    {
        "id": "cd7f15baeb2d5b99",
        "type": "ui_text",
        "z": "5edd6951775080a4",
        "group": "adaaf9bfa7e64496",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Instant Luminosity Sensor Reading",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "70459247534a3992",
        "type": "ui_text",
        "z": "5edd6951775080a4",
        "group": "fd3cf77cfb30f804",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Instant Humidity Sensor Reading",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1220,
        "y": 460,
        "wires": []
    },
    {
        "id": "ccb84606a708f1ad",
        "type": "ui_text",
        "z": "5edd6951775080a4",
        "group": "9962081de457e482",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "",
        "label": "Input Instant Test Sensor Reading",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1300,
        "y": 100,
        "wires": []
    },
    {
        "id": "81f29ab70de8194b",
        "type": "ui_text",
        "z": "5edd6951775080a4",
        "group": "e07276c1bd30c6ff",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Instant Temperature Sensor Reading",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1230,
        "y": 340,
        "wires": []
    },
    {
        "id": "f4c2d7f89813f938",
        "type": "ui_chart",
        "z": "5edd6951775080a4",
        "name": "",
        "group": "e07276c1bd30c6ff",
        "order": 1,
        "width": 8,
        "height": 5,
        "label": "Temperature Sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "300",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "863415b601e83364",
        "type": "ui_chart",
        "z": "5edd6951775080a4",
        "name": "",
        "group": "fd3cf77cfb30f804",
        "order": 1,
        "width": 8,
        "height": 5,
        "label": "Humidity Sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "300",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7242249fc1fae2bd",
        "type": "ui_chart",
        "z": "5edd6951775080a4",
        "name": "",
        "group": "adaaf9bfa7e64496",
        "order": 1,
        "width": 8,
        "height": 5,
        "label": "Luminosity Sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "300",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "504b3981f3d32443",
        "type": "mongodb-aleph-out",
        "z": "5edd6951775080a4",
        "mongodb": "9c84bc5d37e0c9b4",
        "name": "Entrada MongoDB Local",
        "collection": "myCollection",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 830,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "85b3ae4b9c869380",
        "type": "mongodb-aleph-out",
        "z": "5edd6951775080a4",
        "mongodb": "512f983d286f3141",
        "name": "Entrada MongoDB Mirror",
        "collection": "weather",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 830,
        "y": 40,
        "wires": [
            [
                "1d1b29519b8c9b92"
            ]
        ]
    },
    {
        "id": "7b228475184b47b9",
        "type": "ui_led",
        "z": "5edd6951775080a4",
        "order": 2,
        "group": "d228348364c78df7",
        "width": 12,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Indicator",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "b3fe5738ddb9698b",
        "type": "mongodb-aleph-in",
        "z": "5edd6951775080a4",
        "mongodb": "9c84bc5d37e0c9b4",
        "name": "Saída MongoDB Local",
        "collection": "myCollection",
        "operation": "find",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "0dd49d79e8abc672",
                "477a2fde5f3d6730",
                "feee42957d8f6882"
            ]
        ]
    },
    {
        "id": "1d1b29519b8c9b92",
        "type": "delay",
        "z": "5edd6951775080a4",
        "name": "",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1050,
        "y": 100,
        "wires": [
            [
                "ccb84606a708f1ad"
            ]
        ]
    },
    {
        "id": "2735f5b1f28a9123",
        "type": "delay",
        "z": "5edd6951775080a4",
        "name": "",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6d76996621e7d2f8",
        "type": "ui_template",
        "z": "5edd6951775080a4",
        "group": "b9bd5f021d4fa168",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <link rel=\"stylesheet\" href=\"style.css\" />\n    <title>Browser</title>\n</head>\n<div id=\"main\" class=\"container\">\n    <div class=\"row\">\n        <div class=\"cold-lg-12 col-md-12 mx-auto\" style=\"max-height:570px;overflow-y: auto;\">\n            <h3 class=\"block-title\"><center>Seasons of the Year 2023 Brazil</center></h3>\n            <table style=\"font-size:15px;margin-left:20%\" border=\"1\" cellpadding=\"3\" cellspacing=\"3\">\n                <tbody>\n                    <tr>\n                        <td>\n                            <img src=\"https://portal.inmet.gov.br/uploads/seasons/outono.jpg\" width=\"191px\" height=\"182px\">\n                        </td>\n                        <td>\n                            <img src=\"https://portal.inmet.gov.br/uploads/seasons/inverno.jpg\">\n                        </td>\n                        <td>\n                            <img src=\"https://portal.inmet.gov.br/uploads/seasons/primavera.jpg\">\n                        </td>\n                        <td>\n                            <img src=\"https://portal.inmet.gov.br/uploads/seasons/verao.jpg\">\n                        </td>\n                    </tr>\n                    <tr style=\"text-align:center\">\n                        <td>\n                            <b>Autumn</b>\n                        </td>\n                        <td>\n                            <b>Winter</b>\n                        </td>\n                        <td>\n                            <b>Spring</b>\n                        </td>\n                        <td>\n                            <b>Summer</b>\n                        </td>\n                    </tr>\n                    <tr style=\"text-align:center\" id=\"seasonsDate\">\n                        <td>Mar 20, 2023 - 6:25 pm</td>\n                        <td>Jun 21, 2023 - 11:58 am</td>\n                        <td>Sep 23, 2023 - 03:50h am</td>\n                        <td>Dec 22, 2023 - 00:27h am</td>\n                    </tr>\n                    <tr style=\"text-align:center\">\n                        <td colspan=\"4\">\n                            <a href=\"https://www.iag.usp.br/astronomia/datas-de-inicio-das-estacoes-do-ano-2021-2030\"\n                                style=\"color:#fff;\">Source: Department of Astronomy at the Institute of Astronomy, Geophysics and Atmospheric Sciences - IAG/USP\n                                Brazil</a>\n                        </td>\n                    </tr>\n                    <tr style=\"text-align:center\">\n                        <td colspan=\"4\">\n                            <font color=\"red\">In case of daylight savings time, add 1 hour. Accuracy: 1 minute.\n                            </font>\n                        </td>\n                    </tr>\n                </tbody>\n            </table>\n            </br>\n        </div>\n    </div>\n</div>\n<script src=\"script.js\"></script>\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 720,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "2edd8ec354b8383c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "serverdatactd.duckdns.org",
        "port": "1782",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d228348364c78df7",
        "type": "ui_group",
        "name": "LED Selector Switch",
        "tab": "fa95b7a49a366d45",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "adaaf9bfa7e64496",
        "type": "ui_group",
        "name": "Data Input Luminosity",
        "tab": "fa95b7a49a366d45",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd3cf77cfb30f804",
        "type": "ui_group",
        "name": "Data Input Humidity",
        "tab": "fa95b7a49a366d45",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9962081de457e482",
        "type": "ui_group",
        "name": "MongoDB msg.payload",
        "tab": "fa95b7a49a366d45",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e07276c1bd30c6ff",
        "type": "ui_group",
        "name": "Data Input Temperature",
        "tab": "fa95b7a49a366d45",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c84bc5d37e0c9b4",
        "type": "mongodb-aleph-config",
        "hostname": "localhost",
        "topology": "direct",
        "connectOptions": "",
        "port": "26048",
        "db": "myDB",
        "name": "Local"
    },
    {
        "id": "512f983d286f3141",
        "type": "mongodb-aleph-config",
        "hostname": "cluster0.hui5ieo.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "station",
        "name": "Atlas"
    },
    {
        "id": "b9bd5f021d4fa168",
        "type": "ui_group",
        "name": "Season of the Year for INMET",
        "tab": "fa95b7a49a366d45",
        "order": 6,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa95b7a49a366d45",
        "type": "ui_tab",
        "name": "Dashboard - Server Data CTD IFSP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]